/* 
color green code :#96af11
*/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: grey;
    background: #f2f2f2;
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: 25px;

}

h3 {
    font-size: 20px;


}

.conteneur {
    margin: 0 auto;
    max-width: 1100px;
}

.header, footer {
    background-image: url(../img/bg.jpg);
    color: #fff;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
    height: auto;;
}