body {
    background-image: url(img/mario-5-720px.jpg);
}

div {
    width: 500px;
    margin: 0 auto;
}

main {
    width: 75%;
    margin: auto;
}

#commande{
    margin: auto;
    position: relative;
    top: -120px;
    text-align: center;
}

button {
    width: 75px;
    height: 30px;
    margin: 10px;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
}

#attaquer {
    background-color: rgb(223, 84, 74);
}

#defendre {
    background-color: rgb(53, 156, 70);

}

#sort {
    background-color: rgb(206, 74, 223);
}

#affichage{
    text-align: center;
    position: relative;
    top: -50px;
}

.contPerso {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.perso {
    cursor: pointer;
    width: 80px;
    height: 150px;
    background: #E7F8FF;
    border: 3px solid #D0E1E5;
    margin: 0;
}

.persokirby {
    width: 100px;
    height: 115px;
    padding: 16px;
}

.persoyoshi {
    width: 100px;
    height: 115px;
    padding: 16px;
}

.perso p {
    text-align: center;
    font-weight: bold;
}

.perso img {
    display: block;
    width: 50px;
    margin: 0 auto;
}

.persokirby img {
    padding: 12px 0;
}

.kirby {
    position: fixed;
    left: 287px;
    top: 289px;
    width: 65px;
}

.yoshi {
    left: 374px;
    position: relative;
    right: 0;
    top: 180px;
    width: 60px;

}
@media screen and (max-width: 640px) {
    #commande {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}