[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Normalize.css: Make browsers render all elements more consistently.
Type=Link
URL=https://necolas.github.io/normalize.css/
Icon=text-html
